body{
  display: grid;
  align-items: center;
  justify-items: center;
}

.news-list {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.news-item {
  padding-left: 100px;
  padding-right: 100px;
}

.news {
  padding-left: 100px;
  padding-right: 100px;
}

.search-bar {
  padding-left: 300px;
  margin-bottom: 20px;
}

.marketing-banner {
  display: flex;
  padding-left: 300px;
  margin-bottom: 20px;
}

.widgets-list {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
}

.widget-item {
  display: flex;
  flex-direction: column;
}

.widget-section {
  display: flex;
  padding-left: 20px;
  margin-bottom: 10px;
}